---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import code_editor from "@images/editor_codigo.avif";
import code from "@images/code.avif";
import dashboard from "@images/dashboard-image.avif";
import { partnersData } from "@/data_files/constants";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>

  <HeroSection
    title=`Desarrollos a la medida con <span
        class="text-yellow-500 dark:text-yellow-400">Compusoft</span>`
    subTitle="Desarrollo de Software de primera calidad, servicios de pagina web y hosting para impulsar tu negocio."
    primaryBtn="Comienza a explorar"
    primaryBtnURL="/compusoft/proyectos"
    secondaryBtn="Contactar al equipo de ventas"
    secondaryBtnURL="/compusoft/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    alt="Distintos proyectos de Compusoft con distintas tecnologias y herramientas de software"
  />

  <ClientsSection
    title="Confia en nuestros clientes"
    subTitle="Experimente la confiabilidad elegida por los la industria."
    partners={partnersData}
  />

  <FeaturesGeneral
    title="Conocemos las demandas de la industria"
    subTitle="En Compusoft, abordamos los desafíos únicos que se encuentran en los sectores de software. Desde herramientas de vanguardia hasta servicios expertos, estamos dedicados a ayudarle a superar obstáculos y alcanzar sus objetivos."
    src={featureImage}
    alt="Proyectos de Compusoft"
    features={features}
  />

  <FeaturesNavs
    title=`Personaliza!, <span class="text-yellow-500 dark:text-yellow-400">Compusoft</span> ofrece soluciones a medida para tus proyectos.`
    tabs={[
      {
        heading: "Tecnologia de vanguardia",
        content:
          "Potencie sus proyectos con las herramientas de vanguardia de Compusoft. Experimente una mayor eficiencia en la gestión del desarrollo con nuestras sofisticadas soluciones.",
        svg: "tools",
        src: code,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Software intuitivo",
        content:
          "Navega con facilidad utilizando los productos intuitivos de Compusoft. Proyectos con interfaces amigables diseñadas para una gestión de flujo de trabajo rápida y efectiva.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Soluciones robustas",
        content:
          "Minimiza la complejidad y maximiza la productividad. Las soluciones robustas de Compusoft están diseñadas para optimizar tu negocio, ofreciendo resultados que destacan por su excelencia.",
        svg: "house",
        src: code_editor,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Acelera tus proyectos"
    subTitle="En Compusoft, garantizamos un desarrollo rapido con la configuración instantánea. Experimente la velocidad del desarrollo de su proyecto."
    testimonials={[
      {
        content:
          "Compusoft impulsó enormemente la eficiencia de nuestro proyecto. La configuración fue instantánea y sus tiempos de respuesta son fenomenales. ¡Sin duda, un punto de inflexión en el soporte de hardware y construcción!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "clientes atendidos — desde emprendedores hasta grandes empresas de tecnología",
      },
      {
        count: "35%",
        description:
          "incremento en la eficiencia de proyectos con las soluciones de Compusoft",
      },
      {
        count: "15.3%",
        description:
          "reducción en costos de mantenimiento reportada por clientes a largo plazo",
      },
      {
        count: "2x",
        description: "despliegue más rápido gracias a herramientas innovadoras de software",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Preguntas<br />frecuentes" faqs={faqs} />
</MainLayout>
